@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,800&display=swap");
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    background: #edeef0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 5px;
}

nav ul li {
    margin: 0 10px;
}

.logo {
    font-size: 2em;
    font-weight: 700;
    color: #f05136;
}

.nav {
    font-size: 1em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav:hover {
    color: orangered;
}

header {
    background: black;
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div p {
    font-weight: 200;
}

h1,
h2,
h3,
h4 {
    font-weight: 800;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.75em;
}

.link {
    text-decoration: none;
    text-align: center;
    background: #f05136;
    cursor: pointer;
    font-weight: 100;
    letter-spacing: 0.5px;
    color: white;
    padding: 10px;
    border-radius: 5%;
}

.link :hover {
    color: white;
}

#bio img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#portfolio img {
    width: 50px;
    height: 25px;
}

.ptext {
    font-size: 15px;
    font-weight: 500;
}

#bio {
    display: flex;
    align-items: center;
    padding: 30px;
}

#bio article * {
    margin: 20px;
}

.break {
    margin: block;
}

#portfolio {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#portfolio,
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#portfolio div {
    display: flex;
    justify-content: space-around;
    margin: 10px, 0;
    width: 100%;
}

#portfolio div article {
    background: white;
    border-radius: 10%;
    color: black;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#skills-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#skills ul {
    list-style: none;
}

#skills ul li {
    margin: 5px 0;
}

#skills-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

#contact {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.input {
    line-height: 2em;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    border-color: black;
    align-items: center;
}

#contact form input:last-child {
    margin-top: 50px;
}

.portfolio1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    background-color: black;
    color: white;
    padding: 30px;
}

.portfolio1 div {
    display: flex;
    justify-content: space-evenly;
}

.portfolio1 div img {
    width: 50px;
    height: 50px;
}

.portfolio1 div article {
    background: white;
    border-radius: 10%;
    margin: 20px;
    padding: 30px;
    color: black;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#contact form button {
    border-color: black;
}